.p-button {
    width: 20%;
    height: 50px;
    background-color: deepskyblue;
    border-radius: 10px;
    border: 0px;
    cursor: pointer;
}

.pockemon-form {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 20px;
    gap: 40px;
    border: 1px solid black;
}

.p-list {
    width: 100%;
    height: 400px;
    background-color: rgb(128, 128, 128);
    position: absolute;
    top: 50px;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow:auto;
    
    p {
        width: 100%;
        padding: 20px 0px;
        margin: 0px;
        text-align: center;
        &:hover {
            background-color: rgba(0, 0, 255, 0.425);
            cursor: pointer;
        }
    }
}

.p-list__container {
    position: relative;
    width: 50%;
}

.p-input {
    width: 100%;
    border: 0px;
    padding: 20px 10px;
    border-right: 5px solid black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgba(128, 128, 128, 0.171);
}

.submit-result {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}