@use "@/app/styles/mixin.scss" as *;
@use "@/app/styles/variables" as *;

.dictaphone-size {
  width: 100px;
  height: 100px;
}

.dictaphone-shadow {
  -webkit-box-shadow: 1px 9px 44px 6px rgba(34, 60, 80, 0.54);
  -moz-box-shadow: 1px 9px 44px 6px rgba(34, 60, 80, 0.54);
  box-shadow: 1px 9px 44px 6px rgba(34, 60, 80, 0.54);
}

#waveCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
  height: 120%;
  z-index: 1;
  transform: translate(-9%, -90%);
  background-color: transparent;
  opacity: 0;
  transition: opacity 1.5s ease-in-out; 

  &.hidden {
    opacity: 0;
  }

  &.show {
    opacity: 1;
  }
}

.dictaphone-section {
  @extend .dictaphone-size;
  @extend .dictaphone-shadow;
  @include flex-center;
  border-radius: 50%;
  background-color: $accent-purple;
  cursor: pointer;
  position: absolute;
  z-index: 100;

  & .dictaphone-bg {
    width: 100px;
    height: 100px;
    animation-name: dictaphone-bg-opacity;
    animation-duration: 0.7s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    position: absolute;
    background-color: rgba(217, 135, 255, 0.384);
    border-radius: 50%;
    z-index: -1;

    @keyframes dictaphone-bg-opacity {
      from {
        opacity: 0;
      } to {
        opacity: 1;
      }
    }
  }

  .dictaphone-icon {
    width: 50px;
    height: 50px;
    & path {
      width: 50px;
      height: 50px;
    }
  }
}

.dictaphone-animation--up {
  position: absolute;
  @keyframes up {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-200);
    }
  }
  animation-name: up;
  animation-duration: 1s;
  animation-fill-mode: both;
}
.dictaphone-animation--down {
  position: relative;
  @keyframes down {
    from {
      transform: translateY(-200);
    }
    to {
      transform: translateY(0);
    }
  }
  animation-name: down;
  animation-duration: 1s;
  animation-fill-mode: both;
}
