@use "mixin" as *;

.main-section {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;

    .dictaphone-panel {
        width: 40%;
        height: 200px;
        @include flex-center;
        position: relative;
    }
}